/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding:.5rem.75rem;
  background-color: #BC8F8F;
  border: solid thin #800000;
  border-radius:.25rem;
  }
  
  a{
  text-decoration: none;
  color:#DAA520 ;
  }
  
  ul li{
  list-style-type:none;
  padding:.5rem.75rem;
  background-color: #FFF8DC;
  border-radius:.25rem;
  }
  
  p{
  line-height: normal;
  padding:.5rem.75rem;
  background-color: #FFF8DC;
  border-radius:.25rem;
  }
  
  /* Base Styling Classes */
  .section-header {
  background-color: #800000;
  padding: 1rem;
  margin-bottom: 128rem;
  }
  
  .section-header h2 {
  font-weight: bold;
  margin-top:.5rem;
  margin-bottom:.5rem;
  padding:.5rem.75rem;
  background-color: #FFF8DC;
  border: solid thin #800000;
  border-radius:.25rem;
  }
  
  .action-button {
  cursor: pointer;
  padding:.5rem.75rem;
  background-color: #DAA520;
  border: solid thin #800000;
  border-radius:.25rem;
  }
  
  .action-button:hover {
    padding:.5rem.75rem;
  background-color: #BC8F8F;
  border: solid thin #800000;
  border-radius:.25rem;
  }
  
  #main-content.card  {
  position: relative;
  overflow: hidden;
  border:solid thin #DAA520;
  border-radius:.25rem;
  }
  
  .card img {
  object-fit: cover;
  width: 100%;
  height: auto;
  padding:.5rem.75rem;
  background-color: #BC8F8F;
  border: solid thin #800000;
  border-radius:.25rem;
  }
  
  .card-footer.user {
  position: absolute;
  bottom:.5rem;
  right:.5rem;
  padding:.5rem.75rem;
  background-color: #BC8F8F;
  border: solid thin #800000;
  border-radius:.25rem;
  }
  
  .card.post.card-img-overlay.p-3 {
  top:.5rem!important;
  left:.5rem!important;
  padding:.5rem.75rem;
  background-color: #BC8F8F;
  border: solid thin #800000;
  border-radius:.25rem;
  }
  
  .card.post.card-img-overlay.p-3.rounded {
  border-radius:.25rem!important;
  padding:.5rem.75rem;
  background-color: #BC8F8F;
  border: solid thin #800000;
  border-radius:.25rem;
  }
  
  .card.card-body.username {
  font-weight:bold;
  font-size:large;
  padding:.5rem.75rem;
  background-color: #BC8F8F;
  border: solid thin #800000;
  border-radius:.25rem;
  }
  
  .card.card-body p {
  word-break: break-all;
  padding:.5rem.75rem;
  background-color: #BC8F8F;
  border: solid thin #800000;
  border-radius:.25rem;
  }
  
  .dividir{
  display: flex;
  justify-content: space-between;
  padding:.5rem.75rem;
  background-color: #DAA520;
  border-radius:.25rem;
  }
  
  .form2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding:.5rem.75rem;
  background-color: #FFF8DC;
  border: solid thin #BC8F8F;
  border-radius:.25rem;
  
  }
  
  #Procurados,#pesquisa_feita {
  flex: 1;
  padding:.5rem.75rem;
  background-color: #FFF8DC;
  border-radius:.25rem;
  }

  .pill-wrapper {
    background-color: transparent;
  }
  .pill {
    background-color: #4376F6;
    border-radius: 5px;
    color: white;
    align-items: center;
    font-size: 0.8rem;
  }
  .pill:nth-child(2) {
    background-color: #e48e0b;
  }
  .pill:nth-child(3) {
    background-color: #51d6a7;
  }
  .pill {
    align-items: center;
    font-size: 0.8rem;
  }
  .pill__icon {
    padding-left: 1.5em;
  }
  .pill__date {
    font-size: 0.7rem;
    color: rgba(255,255,255,0.7);
  }
  .pill__title {
    padding: 0.2rem 0;
    font-weight: bold;
  }
  .pill__content {
    padding: 1.5em;
  }
  .pill__value {
    font-size: 1.8em;
  }
  